@tailwind base;
@tailwind components;

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url("../../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("../../fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url("../../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("../../fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local("Gilroy-ExtraBold"),
    url("../../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: local("Gilroy-Heavy"),
    url("../../fonts/Gilroy-Heavy.woff") format("woff");
}

@tailwind utilities;

.enlarge {
  @apply transition duration-500 ease-in-out transform hover:scale-110;
}

.streak-btn {
  @apply px-2 bg-myRed rounded-full text-white font-glight;
}

.nav-icon {
  @apply w-12 h-12 rounded-full object-cover mx-3;
}

.navbar {
  @apply fixed top-0 left-0 right-0 flex items-center justify-between h-16 font-gbold bg-white z-50;
}

.tag {
  @apply mr-3 border-2 border-myBlue text-myBlue px-3 py-1 text-xs rounded-lg;
}

.input-border {
  @apply border-2 border-myBlue w-full block focus:outline-none;
}

.absolute-center {
  @apply transform -translate-x-1/2 -translate-y-1/2;
}

.add-post-btn {
  @apply bg-myRed flex items-center rounded-full md:rounded-md md:py-2 px-2 md:px-4 absolute top-24 right-5 md:right-8 text-white font-gbold enlarge;
}

.container {
  @apply absolute top-28 bg-white h-3/4 transform left-1/2 -translate-x-1/2 w-full md:w-4/5 xl:w-2/3;
}

.posts-container {
  @apply sm:w-11/12 mx-auto mt-10 grid gap-6 md:grid-cols-2 lg:grid-cols-3 mb-10;
}
